@import "common.scss";
@import "mixin.scss";
* {
    @include sizing;
}

html,
body,
.wrap {
    @include num(100%, 100%);
}

.wrap {
    @include box_flex;
    @include direction(column);
}

header {
    @include num(100%, pxTorem(44px));
    #{$bg}: pink
}

section {
    @include flex;
    #{$bg}: skyblue;
    .banner {
        width: 100%;
        height: 700px;
        overflow-x: hidden;
        position: relative;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

footer {
    @include num(100%, pxTorem(44px));
    #{$bg}: pink
}